*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #222;
    font-family: Poppins;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#title{
    width:100%;
    display:table;
}

#top {
    display: table-cell;
    position: relative;
    width:100%;
    height: 100px;
    background-color: black(89,144,222,.6);
    vertical-align:middle;
}

#top h2{
    text-shadow: 2px 2px black;
    text-align: center;
    color: white;
}

table {
    width: 100%;
    text-align: center;
    color: white;
    
}
th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    
}

th {
    position: sticky;
    top: 0;
    background-color:#16a085;
}

.header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;


}

.inner_header {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0;
    position: relative;
    left: 50px;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 32px;

}

ul {
    display: flex;
    justify-content: center;
    position: absolute;
    right: -850px;
    top: 15px;
}
li {
    list-style: none;
    margin-right: 30px;  
}

li a{
    text-decoration: none;
    color: white;
}

li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: coral;
    margin: auto;
    display: block;
}

li a:hover::after{
    width: 100%;
    transition: width 0.3s linear;
}

li a:hover {
    color: coral;  
}
.font {
    font-size: 32px;

}


tr {
    transition: all .2s ease-in;
    cursor: pointer;
}

#header{
    background-color: #16a085;
    color: #fff;
}

tr:hover {
    background-color: #2B2930;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2), -1px -1px 8px rgba(0,0,0,0.2);

}

.form_style {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;

}

.form_field {
    font-family: Poppins;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

}

.form_field::placeholder {
    color: transparent;
}
.form_label{
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.form_field:placeholder-shown ~ .form_label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;

}

.form_field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #ff0062,#00ffff);
    border-image-slice: 1;
}

.form_field:focus ~ .form_label{
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #2afadf;
    font-weight: 700;
}

input[type=submit] {
    background-color: #0693cd;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size:16px;
    font-weight: bold;
    line-height: 1.4;
    padding: 10px;
    width: 180px
  }

