<html>
    <header>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />

    </header>
    <body>
        <div class="header">
            <div class="inner_header">
                <div class="logo_container">
                     <h1>Spotify Music Share</h1>
                </div>
            <nav>
                <ul>
                   <li> <a href='/' class='font'>Logout</a></li>
                </ul>
            </nav>
            </div>
        </div>
        <div id="title">
            <div id="top">
                <h2>Available Groups:</h2>
            </div>
        </div>

        <table>
            <tr id="header">
                <th>Cover Photo</th>
                <th>Name</th>
                <th>Created for</th>
                <th>Description</th>
            </tr>
            {% for group in groups %}
            <tr>
                <td>
                    <a href="{{url_for('bp.group_details', group_id = group['id'])}}">
                        <img src="{{url_for('static', filename = group["id"]|string+".jpg")}}" height="100">
                    </a>
                </td>
                <td>{{ group["name"] }}</td>
                <td>{{ group["date_created"] }}</td>
                <td>{{ group["description"] }}</td>
            </tr>
            {% endfor %}
        </table>
        <center>
        <form action="{{url_for('bp.homepage')}}" method="POST" style="padding:5px;">
            <div class="form_style">
                <label for="Gname"class="form_label">Name/Description:</label><br>
                <input type="text" id="Gname" name="Gname"class="form_field" placeholder="Name"><br>
                <input type="text" id="group_description" name="group_description"class="form_field"><br><br>
                <input type="submit" value="Create Group">
            </div>
              </form>
            </center>
            <br>
    </body>
</html>