<html>
    <header>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />

    </header>
    <body>
        <div class="header">
            <div class="inner_header">
                <div class="logo_container">
                     <h1>Spotify Music Share</h1>
                </div>
            <nav>
                <ul>
                   <li> <a href='/' class='font'>Logout</a></li>
                </ul>
            </nav>
            </div>
        </div>
        <h2>Available Groups:</h2>
        <table>
            <tr>
                <th>Cover Photo</th>
                <th>Name</th>
                <th>Created for</th>
                <th>Description</th>
            </tr>
            {% for group in groups %}
            <tr>
                <td>
                    <a href="{{url_for('bp.group_details', group_id = group['id'])}}">
                        <img src="{{url_for('static', filename = group["id"]|string+".jpg")}}" height="100">
                    </a>
                </td>
                <td>{{ group["name"] }}</td>
                <td>{{ group["date_created"] }}</td>
                <td>{{ group["description"] }}</td>
            </tr>
            {% endfor %}
        </table>
        <h2>Create new group</h2>
        <form action="{{url_for('bp.homepage')}}" method="POST" style="padding:5px;">
            <div class="popup" id="popup-1">
                <div class="content">
                <div class="close-btn" onclick ="togglePopup()">Something</div>
            </div>
            <div class="input-field">
                <label for="Gname">Group Name:</label><br>
                <input type="text" id="Gname" name="Gname"><br>
                <label for="group_description">Group Description:</label><br>
                <input type="text" id="group_description" name="group_description"><br><br>
                <input type="submit" value="Create">
            </div>
            <button onclick="togglePopup()"claass="first-button">Create Group</button>
            <script>
                function togglePopup(){
                  document.getElementById("popup-1")
                  .classList.toggle("active")
                }
            </script>
            </form>
            <br>
    </body>
</html>